@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 290 100% 100%;
  --foreground: 290 5% 10%;
  --card: 290 50% 100%;
  --card-foreground: 290 5% 15%;
  --popover: 290 100% 100%;
  --popover-foreground: 290 100% 10%;
  --primary: 290 90.2% 23.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 290 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 252 30% 95%;
  --muted-foreground: 290 5% 40%;
  --accent: 252 30% 90%;
  --accent-foreground: 290 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 290 5% 100%;
  --border: 290 30% 82%;
  --input: 290 30% 50%;
  --ring: 290 90.2% 23.9%;
  --radius: 1rem;
}
.dark {
  --background: 290 50% 10%;
  --foreground: 290 5% 100%;
  --card: 290 50% 10%;
  --card-foreground: 290 5% 100%;
  --popover: 290 50% 5%;
  --popover-foreground: 290 5% 100%;
  --primary: 290 90.2% 23.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 290 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 252 30% 25%;
  --muted-foreground: 290 5% 65%;
  --accent: 252 30% 25%;
  --accent-foreground: 290 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 290 5% 100%;
  --border: 290 30% 50%;
  --input: 290 30% 50%;
  --ring: 290 90.2% 23.9%;
  --radius: 1rem;
}
